<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Nama Voucher</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% vouchers.forEach((voucher, index)=> { %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= voucher.name %></td>
      <td><%= voucher.status %></td>
      <td>
        <form
          action="/voucher/delete/<%= voucher._id %>?_method=DELETE"
          method="POST"
        >
          <a href="/voucher/edit/<%= voucher._id %>" class="btn btn-warning">
            <i class="fas fa-pencil-alt"></i>
            Ubah
          </a>
          <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash"></i>
            Hapus
          </button>
        </form>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
